# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_convert/

# OS
.DS_Store
Thumbs.db

# VSCode / IDEs
.vscode/
.idea/

# Build artifacts
*.egg-info/
dist/
build/
